* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    background-image: linear-gradient(to bottom right, #5cc8ff 0%, #d63c6b 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Dark & Light  Mode*/
html[data-theme='light'] {
    --bg: #e9eef4;
    --color-text: #0e0e0e;
    --color-boder: #bcbfc2;
    --btn-active: #bcbfc2;
}

html[data-theme='dark'] {
    --bg: #2d2e2f;
    --color-text: #fff;
    --color-boder: #6c7073;
    --btn-active: #424548;
}

/* container  */
.container {
    margin: 5rem auto;
    max-width: 300px;
    width: 100%;
}

/* Heading  */
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .8rem .4rem;
}

.heading span {
    color: var(--color-text);
    font-size: 1.3rem;
}

.fas {
    cursor: pointer;
} 

label input[type="checkbox"] {
    -webkit-appearance: none;
}

/* Main */
.container-grid {
    padding: 0 0 5rem 0;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

#result {
    padding: .5rem 1rem 0rem;
    text-align: right;
    height: 50px;
    font-size: 1.8rem;
    color: var(--color-text);
    background: var(--bg);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.calculate {
    border-top: 1px solid var(--color-boder);
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}

.number {
    background: var(--bg);
    border-right: 1px solid var(--color-boder);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.operation {
    background: var(--bg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.btn {
    border: none;
    width: 100%;
    font-size: 1.5rem;
    color: var(--color-text);
    background: var(--bg);
    outline: none;
    cursor: pointer;
}

.operation .btn {
    color: #1a73e0;
}

.btn:active {
    border-radius: 50%;
    background: var(--btn-active);
    cursor: pointer;
}

/* Customer scrollbar  */
#result::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    background-color: #fff;
}

#result::-webkit-scrollbar-thumb:horizontal {
    background-color: #0e0e0e;
    border-radius: 10px;
}

#result::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #fff;
}