* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;

    background-image:
        /* linear-gradient(rgba(44, 62, 80, 0.4), rgba(44, 62, 80, 0.95)), */
        url(./img/mountains-5237939_1920.jpg);
    background-repeat: none;
    background-size: cover;
    font-weight: 300;
    color: #fff;
    overflow: auto;
}

main {
    height: 100%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

h1 {
    font-size: 32px;
    margin-top: 150px;
    margin-bottom: 50px;
    line-height: 1.85;
}

cite {
    margin-top: 150px;
}

.btn-refresh {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin: 0 auto;
    height: 50px;
    width: 150px;
    margin-left: -75px;
    font-size: 18px;
    background: none;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    transition: background-color 0.2s, border 00,2s, color 0.2s;
}

.btn-refresh:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    color: #fff;
}